<!DOCTYPE html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="css/app.css">
        <link rel="icon" href="/img/weather.png">
        <style>
            .about-section {
                display: flex;
                flex-direction: row;
                gap: 4rem;
                margin-bottom: 2rem;
            }
            .img-holder img {
                height: 350px;
                border-radius: 10px;
            }
            .profile-detail {
                border: 1px solid rgba(41, 41, 100, 0.336);
                border-radius: 10px;
                padding: 2%;
                flex-grow: 1;
                text-align: center;
            }
            h2 {
                color: #55538e;
            }
        </style>
    </head>
    <body>
        <div class="main-content">
            {{> header}}
            <div class="about-section">
                <div class="img-holder">
                    <img src="/img/profile.jpeg" alt="Gokul Deep - Profile Image">
                </div>
                <div class="profile-detail">
                    <p style="font-family: sans-serif;">This website is developed by Gokul Deep K K. 
                    It uses <a href="https://weatherstack.com/" target="_blank">weatherstack</a> and <a href="https://www.mapbox.com/" target="_blank">mapbox</a> for forecasting.
                    This website is developed as part of a udemy course project by Andrew Mead.</p>
                </div>
            </div>
        </div>
        {{>footer}}
    </body>
</html>