<!DOCTYPE html>
    <head>
        <title>Help</title>
        <link rel="stylesheet" href="css/app.css">
        <link rel="icon" href="/img/weather.png">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>Any help needed. This page can't provide it!</p>
        </div>
        {{>footer}}
    </body>
</html>